<script src="/js/home/login.js" defer></script>
<input type="text" name="" id="id" placeholder="id">
<input type="password" name="" id="password" placeholder="password">
<button id="btnLogin">Login</button>